[Unit]
Description=Receive data from cubelets.
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=2
ExecStart=/usr/local/sbin/recv
ExecStartPre=/bin/sleep 17
TimeoutStopSec=infinity

[Install]
WantedBy=multi-user.target